.vscode/
example/weather/services/forecaster/cmd/forecaster/forecaster
example/weather/services/locator/cmd/locator/locator
example/weather/services/front/cmd/front/front
example/weather/.overmind.sock
example/weather/bin/*
coverage.out
go.work
